
.main-navbar {
  background: white;
  padding: 15px 0;
  border:0 0 2px 0 solid yellow;
}

.logo {
  height: 50px;
}
.menu {
  align-items: center;
  gap: 20px;
}
.button-border{
border: 1px solid white;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}
.btn:hover {
  background-color: orange!important;
  border-color: orange!important;
}
.card{
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.header{
  background-color: rgb(221, 211, 173);
}
