
.main-navbar {
  background: white;
  padding: 15px 0;
  border:0 0 2px 0 solid yellow;
}

.logo {
  height: 50px;
}
.menu {
  align-items: center;
  gap: 20px;
}
.button-border{
border: 1px solid white;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}
.btn:hover {
  background-color: orange!important;
  border-color: orange!important;
}
.card{
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.header{
  background-color:rgb(247, 201, 168);
  }
.shadow{
box-shadow: 0.5px solid gray;
}

input,
textarea {
  border-radius: 4px;
  padding: 12px;
}

textarea {
  resize: none;
}
.font{
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(76, 91, 113);
}
.text{
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(114, 111, 111);
}
.back{
  background-color: rgba(239, 239, 239, 0.973);
}
.box{
  height:120px;
  width: 700px;
  background-color: white;
  padding:15px;
}
.color{
  color:orange;
  font-size: 25px;
  font-weight: bold;
}
.sec{
  font-size: 35px;
  font-weight: bold;
  margin-top: 35px;
}
.box2{
  height: 400px;
  width:500px;
  opacity: 3;
}