
.main-navbar {
  background: white;
  padding: 15px 0;
  border:0 0 2px 0 solid yellow;
}

.logo {
  height: 50px;
}
.menu {
  align-items: center;
  gap: 20px;
}
.button-border{
border: 1px solid white;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}
.btn:hover {
  background-color: orange!important;
  border-color: orange!important;
}
.card{
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.header{
  background-image: url("/src/assets/Img/img4.png");
  background-position: top;
  border-bottom: 1px solid orange;
  }
.shadow{
box-shadow: 0.5px solid gray;
}

input,
textarea {
  border-radius: 4px;
  padding: 12px;
}

textarea {
  resize: none;
}
.font{
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(76, 91, 113);
}
.text{
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(114, 111, 111);
}
.back{
  background-color: rgba(239, 239, 239, 0.973);
}
.box{
  height:120px;
  width: 700px;
  background-color: white;
  padding:15px;
}
.color{
  color:orange;
  font-size: 25px;
  font-weight: bold;
}
.sec{
  font-size: 35px;
  font-weight: bold;
  margin-top: 35px;
}
.box2{
  height: 400px;
  width:500px;
  opacity: 3;
}
.background{
  background-image: url("/src/assets/Img/img6.png");
  background-position: fixed;
  height: 400px;
  width: 400px;
}
.box1{
  background-color: orange;
  height: 400px;
  width: 400px;
  float: right;
  color:white;
}
.freight-img {
  object-fit: cover;
  height: 100%;
}

.freight-item h4 {
  font-weight: 700;
  margin-bottom: 8px;
}

.freight-item p {
  color: #6c757d;
  font-size: 15px;
}

.freight-item a {
  text-transform: lowercase;
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

.icon-box {
  width: 70px;
  height: 70px;
  background: #6c7a89;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
}
.feature-section {
  background: #fff;
}

.feature-box h5 {
  font-weight: 700;
  margin-bottom: 6px;
}

.feature-box p {
  color: #6c757d;
  font-size: 15px;
  margin-bottom: 0;
}

.feature-icon {
  width: 60px;
  height: 60px;
  background: #f6f8fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #f39c12;
}
